{% extends 'base.html' %}

{% block title %}order {{ order.id }}{% endblock title %}

{% block content %}
<h3>Order</h3>
  <table>
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>Book</th>
      <th>Created at</th>
      <th>End at</th>
      <th>Plated end at</th>
    </tr>
    <tr>
      <td>{{ order.id }}</td>
      <td><a href="{% url 'authentication:user' order.user.id %}">{{ order.user.id }}</a></td>
      <td><a href="{% url 'book:book' order.book.id %}">{{ order.book.name }}</a></td>
      <td>{{ order.created_at }}</td>
      <td>{{ order.end_at }}</td>
      <td>{{ order.plated_end_at }}</td>
    </tr>
  </table>
{% endblock content %}