<!DOCTYPE html>

<html>
  <head>
    <title>Library: {% block title %}{% endblock title%}</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            width: 700px;
        }
    </style>
  </head>
  <body>
    <h1><a href="{% url 'authentication:index' %}">*** Library ***</a></h1>
    <h3>
      <a href="{% url 'authentication:get_users' %}">Users</a>
      <a href="{% url 'book:books' %}">Books</a>
      <a href="{% url 'author:authors' %}">Authors</a>
      <a href="{% url 'order:orders' %}">Orders</a><br><br><br>
    </h3>
    {% block content %}{% endblock content%}
  </body>
</html>