{% extends 'base.html' %}

{% block title %} author {% endblock title %}

{% block content %}
  <h3>Author</h3>
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Patronymic</th>
      <th>Author's books</th>
    </tr>
    <tr>
      <td>{{ author.id }}</td>
      <td>{{ author.name }}</td>
      <td>{{ author.surname }}</td>
      <td>{{ author.patronymic }}</td>
      <td><a href="{% url 'author:author_books' author.id %}">Show books</a></td>
    </tr>
  </table>
{% endblock content %}